@using Mvc_HowTo.Models;
@{
    ViewBag.Title = "ViewAllCategories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <form role="form" action="AddCategory" method="post">
                <div class="form-inline" >
                    <input type="text" name="Cat_Name" placeholder="Enter a new Category" class="form-control"/>
                    <button type="submit" class="btn btn-info" >Add Category</button>

                </div>
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>
                            Category Name
                        </th>
                        
                        <th>Delete</th>
                        

                    </tr>
                    @{var count = 0;}
                    @foreach (Category m in ViewBag.lst)
                    {
                        count++;
                      
                        <tr>
                            <td>@count</td>
                            <td>
                                @m.Cat_Name

                            </td>
                           
                            <td>
                                <a href="~/Admin/DeleteCategory?id=@m.Cat_Id">Delete this Category</a>
                            </td>
                          
                        </tr>
                    }
                </thead>
            </table>
        </div>
        <div class="col-md-2">
           
        </div>

    </div>

</div>