@using Mvc_HowTo.Models;
@{
    ViewBag.Title = "ViewAllCategories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <form role="form" action="AddCity" method="post">
                <div class="form-inline">
                    <input type="text" name="City_Name" placeholder="Enter a new City" class="form-control" />
                    <button type="submit" class="btn btn-info">Add City</button>

                </div>
            </form>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>
                            City Name
                        </th>

                        <th>Delete</th>


                    </tr>
                    @{var count = 0;}
                    @foreach (City m in ViewBag.lst)
                    {
                        count++;

                        <tr>
                            <td>@count</td>
                            <td>
                                @m.City_Name

                            </td>

                            <td>
                                <a href="~/Admin/DeleteCity?id=@m.City_Id">Delete this City</a>
                            </td>

                        </tr>
                    }
                </thead>
            </table>
        </div>
        <div class="col-md-2">
            

        </div>

    </div>

</div>